{% extends "base.html" %}  

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Bienvenidos al sitio de la librería</h2>
                <p>Empezar a Ingesar Libros</p>
                <button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                    mix and match with additional component themes and more." type="button">Empezar</button>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="h-100 p-5 bg-primary border rounded-3">
                <h2>Bienvenidos al sitio de la librería</h2>
                <p>Empezar a Ingesar Libros</p>
                <button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                    mix and match with additional component themes and more." type="button">Empezar</button>
            </div>
        </div>
    </div>
{% endblock %}